# این فایل را کپی کرده و با نام .env ذخیره کنید
# مقادیر زیر صرفاً جهت نمونه هستند

# ✅ اصلاح پورت برای هم‌خوانی با اسکریپت json-server در package.json
VITE_API_BASE_URL=http://localhost:4003

VITE_APP_ENV=development
VITE_STORAGE_PREFIX=


# ۱. بررسی TypeScript
# npx tsc -b

# ۲. بررسی ESLint
# npm run lint

# ۳. اجرای Development Server
# npm run dev

# ۴. تست Build نهایی
# npm run build